<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>KS portfolio</title>
</head>
<body>
    <header>
        <!--Main Nav-->
        <nav>
            <div class="nav-wrapper nav-dark">
                <a href="#!" class="brand-logo">Katie Sheedy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!--Sidenav-->
        <ul class="sidenav nav-dark" id="mobile-demo">
            <li><a href="#!" class="brand-logo center-align"><span class="white-text">Katie Sheedy</span></a></li>
            <li><a href="#"><span class="white-text">Home</span></a></li>
            <li><a href="#"><span class="white-text">About</span></a></li>
            <li><a href="#"><span class="white-text">Portfolio</span></a></li>
            <li><a href="#"><span class="white-text">Contact</span></a></li>
        </ul>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer nav-dark">
        <div class="row center-align">
            <div class="col l4 m3 s12">
                <p class="grey-text text-lighten-4">Find out more about me here</p>
            </div>
            <div class="col l4 m6 s12">
                <ul class="footer-links center-align">
                    <li><a class="grey-text text-lighten-3" target="_blank" title="Facebook Link" 
                        rel="noopener" href="https://www.linkedin.com/in/katiesheedy93/"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" title="Facebook Link" 
                        rel="noopener" href="https://github.com/KSheeds1"><i class="fa-brands fa-github fa-lg"></i></a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" title="Facebook Link" 
                        rel="noopener" href="#!"><i class="fa-solid fa-file-pdf fa-lg"></i></a></li>
                </ul>
            </div>
            <div class="col l4 m3 s12">
                <p class="grey-text text-lighten-4">© Katie Sheedy Copyright Text</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>